* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main_box {
    height: 500px;
    width: 400px;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2%;
}

h1 {
    color: #ffff;
    padding: 20 0;
    font-size: 3em;
    color: #0088ff;
    padding: 0 30px 0 10px;
    margin: 40px;
    background-color: #fff;

}
p{
    padding: 0 30px 0 10px;
    margin: 10px;
    background-color: #fff;
}

.enter ,.password {

    margin: 20px 0;
    width: 330px;
    background-color: #fff;
}

.password input {
    width: 100%;
    height: 40px;
    outline: #0088ff;
    background: transparent;
    padding: 0 30px 0 10px;
    color: black;
    background-color: #fff;
}

.enter input {
    width: 100%;
    height: 40px;
    outline: #0088ff;
    background: transparent;
    padding: 0 30px 0 10px;
    color: black;
     background-color: #fff;

}

button{
    width: 100%;
    height: 40px;
    background: #0088ff;
    color: #fff;

}



